     /*---Fonts---*/
     @font-face {
        font-family: "Luciole";
        src: url("luciole"), url("./font/Luciole-Regular.ttf"), format("TrueType");
     }
   /*---
      ######### 404 => NOT FOUND #########
      ---*/


   .container {
        font-family: "Luciole", sans-serif;
        width: 350px;

        height: auto;
       
        position: absolute;
       
        left: 50%;
       
        top: 50%;

    }