{% extends "base.html.twig" %}

{% block title %}Etes-vous majeur?{% endblock %}

{% block body %}

<div id="popup-majority" style="display: none;">
  <div> 

    <h1>Hop là ! Pour rentrer sur ce site vous devez avoir au moins 18 ans !</h1>
    
<!--Jours-->
    <label for="Jours">Jours :</label>

    <select id="Jours" name="Jours"></select>


    <!--Mois-->
      <label for="mois"> mois :</label>

     <select id="mois" name="mois"></select>e
     <!--Années-->
   
        <label for="annees"> annees :</label>
     
        <select id="annees" name="annees"></select>

        <!--Bouton confirmation-->
     <div>
      <a href="{{ path('app_main_index') }}"></a><button type="button" id="popup_submit" name="submit" value="" onclick="confirmAge() " >Autoriser</button>
    </div>
      <!--Prévention-->
      <p>   Attention !!!!! l'abus d'alcool est dangereux pour la santé</p>
    </div>
    </div>

<script src="{{ asset('js/popup2.js') }}"></script>

{% endblock %}