html {
    overflow-y: scroll;
}

.header-logo__title {
    color: #e50914;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0.8em 0 0.3em;
    text-transform: uppercase;
}

.h-md-300 {
    height: 300px;
}

.movie__poster {
    background-position: center;
    background-size: cover;
}

.movie__poster img {
    width: 100%;
    /* height: 300px;
    object-fit: cover;
    object-position: top; */
}

.movie__favorite {
    position: absolute;
    top: 0;
    right: 0;
}

/* back-office */

/* classe pour les images de listes */
.back-office-list__thumbnail {
    height: 70px;
}

/* classe pour les images taille moyenne */
.back-office-list__medium {
    height: 300px;
}