{# ici, on boucle sur les messages flash (en session), si existants #}
{# @see https://symfony.com/doc/5.4/session.html#flash-messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endfor %}