
<div id="popup-majority" style="display: none;">
  <div id="pop-container"> 
    

    <h1 id="titlepopup">Hop là ! Pour rentrer sur ce site vous devez avoir au moins 18 ans !</h1>
    <p class="h4 text-popup">Êtes-vous majeur ?</p>
    <button id="is-major-btn" class="btn btn-success me-2" >Oui</button>
    <button id="is-not-major-btn" class="btn btn-secondary" >Non</button>
      <!--Prevention-->
      <p class="text-popup">   Attention !!!!! l'abus d'alcool est dangereux pour la santé</p>
    </div>
    </div>
   