{% extends "base.html.twig" %}

{% block nav_back %}
        {# <form class="d-flex" action=""> #}
{# sous-nav back-office #}
            {# <div class=""> #}
                {# <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a> #}
                    {# <ul class="dropdown-menu"> #}
                      <li><a class="dropdown-item" href="{{ path('app_back_brewerie_index') }}">Brasseries</a></li>
                      <li><a class="dropdown-item" href="{{ path('app_back_user_index') }}">Utilisateurs</a></li>
                    </ul>
                  </li>
                    {# <div class="text-end d-grid gap-3 d-md-flex end">
                        <button class="btn btn-primary me-md-2" type="button">
                                <a class="nav-link link-light" href="{{ path('app_back_brewerie_index') }}">Brasseries</a>
                        </button>
                        <button class="btn btn-primary" type="button">
                                <a class="nav-link link-light" href="{{ path('app_back_user_index') }}">Utilisateurs</a>
                        </button>
                    </div> #}

            {# </div> #}
        {# </form> #}
{% endblock %}

{% block body %}
{% endblock %}

    